.finder__main {
  position: relative;
}

.finder__map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#finderGrid {
  margin-top: -24rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 60rem;
}

.square {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  border: 2px solid #fffffff0;
  filter: drop-shadow(1rem 0.5rem 1rem rgba(0, 0, 0, 1));

  &.path {
    background: $green;
  }

  &.start {
    background: $green;
  }

  &.end {
    background: $lightred;
  }

  &.clicked {
    background: $darkred;
  }
}

.finder__description {
  text-align: center;
  position: absolute;
  align-items: center;
  width: 100%;
  left: 50%;
  top: -26.5rem;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0rem 0.5rem 1rem rgba(0, 0, 0, 1));

  h2 {
    min-width: 100%;
    font-size: 3.2rem;
  }
}

.finder__button {
  text-align: center;
  margin-top: 1.5rem;

  button {
    width: 50%;
    background: $darkred;
    color: white;
    font-size: 1rem;
    padding: 1.3rem 5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    filter: drop-shadow(0rem 0.5rem 1rem rgba(0, 0, 0, 0.5));
  }
}

.footer__wrapper__finder {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  color: rgb(219, 219, 219);
}

@media screen and (max-width: 1024px) {
  .square {
    width: 3.4rem;
    height: 3.4rem;
    border: 2px solid #fffffff0;
  }

  #finderGrid {
    margin-top: 6.75rem;
    position: absolute;
    min-width: 0;
    max-width: 34rem;
  }

  .finder__description {
    width: 100%;
    top: -15.2rem;
    left: 25%;

    h2 {
      min-width: 150%;
      font-size: 1.9rem;
    }
  }

  .finder__button {
    margin-top: 21.5rem;

    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  .square {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #fffffff0;
  }

  #finderGrid {
    position: absolute;
    margin-top: 0;
    padding: 0;
    min-width: 0;
    max-width: 23rem;
  }

  .finder__description {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    top: -12.2rem;
    z-index: 999;
    left: 50%;

    h2 {
      min-width: 100%;
      font-size: 1.5rem;
    }
  }

  .finder__button {
    margin-top: 12.5rem;

    button {
      width: 100%;
    }
  }

  .footer__wrapper__finder {
    width: 100%;
  }
}
