*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $dark;
  font-family: $font;
  font-size: $base-size;
  font-weight: $font-normal;
  color: $white;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}
