*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $dark;
  font-family: $font;
  font-size: $base-size;
  font-weight: $font-normal;
  color: $white;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
}
