//  COLORS
$darkred: #C24E00;
$white: #FFF;
$green: #2ECC71;
$dark: #131313;
$lightred: #E74C3C;

//  FONTS
$font: 'Source Sans Pro', sans-serif;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$base-size: 1rem;

//  HELPERS
.no-spacing {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
